<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>ios/credential_provider_extension/grit/ios_credential_provider_extension_strings.h</string>
	</array>
	<key>outputs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>strings</key>
			<array>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_ENABLE_BUTTON_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_SUBTITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_EXTENSION_CANCEL</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
